body {
  margin: 0;
}

.file-input {
    position: absolute;
    z-index: 9999;
}

.login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
